<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE configuration
 		 PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
 		"http://mybatis.org/dtd/mybatis-3-config.dtd">
  					
<configuration>

	 <typeAliases>
	 	<typeAlias alias="user" type="kr.co.bitcamp.service.domain.User"/>
	 	<typeAlias alias="activity" type="kr.co.bitcamp.service.domain.Activity"/>
	 	<typeAlias alias="board" type="kr.co.bitcamp.service.domain.PhotoFolder"/>
	 </typeAliases>
	 
  
  <!-- SQL Definition :: file include -->
  <mappers>
	<mapper resource="sql/UserMapper.xml"/>
	<mapper resource="sql/BoardMapper.xml"/>
	<mapper resource="sql/ActivityMapper.xml"/>
  </mappers>

</configuration>