<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

 					
<mapper namespace="UserMapper">
 
	
	<resultMap type="user" id="userSelectMap">

	    <result property="userNo" column="USER_NO" jdbcType="NUMERIC" />
		<result property="userId" column="USERID" jdbcType="VARCHAR"/>
		<result property="userName" column="USER_NM" jdbcType="VARCHAR"/>
		<result property="password" column="PASSWORD" jdbcType="VARCHAR"/>
		<result property="phone" column="PHONE" jdbcType="VARCHAR"/>
		<result property="activity" column="ACTIVITY" jdbcType="CHAR"/>
		<result property="joinDate" column="JOIN_DATE" jdbcType="DATE"/>
		<result property="alramActivity" column="ALRAM_ACTIVITY" jdbcType="CHAR"/>
		<result property="alramCount" column="ALRAM_COUNT" jdbcType="NUMERIC"/>
		<result property="status" column="STATUS" jdbcType="VARCHAR"/>
		<result property="profileImg" column="PROFILE_IMG" jdbcType="VARCHAR" />
	</resultMap>
	
	
	<select id="getAlram"     parameterType="int"  resultType="alram">
        
		select A.ALRAM_NO as alramNo, A.SEND_ID as sendId, A.TEXT as text, A.ALTAM_DATE as alarmDate
		from BT_USER U, BT_PHOTO_FOLDER P, BT_ALRAM A
		WHERE U.USER_NO = A.USER_NO AND P.PF_NO = A.PF_NO AND U.USER_NO = #{value}
		ORDER BY A.ALTAM_DATE
	</select>
	
	 <select id="findUser"     parameterType="User" resultMap="userSelectMap" >
        SELECT
        *
        FROM BT_USER
        WHERE USERID=#{userId} AND password=#{password}
     </select>
     
      <select id="searchUser"     parameterType="string" resultMap="userSelectMap" >
        SELECT
        *
        FROM BT_USER
        WHERE USER_NM LIKE #{value}
     </select>
	

	<select id="getUser" parameterType="string" resultMap="userSelectMap">
        select  
        USER_NO ,USERID, USER_NM, PASSWORD, PHONE, ACTIVITY, JOIN_DATE, ALRAM_ACTIVITY, ALRAM_COUNT, STATUS, PROFILE_IMG
        FROM bt_user
        where userId=#{value}
   </select>
     
     
      <select id="getUser2" parameterType="int" resultMap="userSelectMap">
        select  
        USER_NO ,USERID, USER_NM, PASSWORD, PHONE, ACTIVITY, JOIN_DATE, ALRAM_ACTIVITY, ALRAM_COUNT,STATUS, PROFILE_IMG
        FROM     bt_user
        where USER_NO=#{value}
     </select>
     
     <delete id="removeUser"        parameterType="String">
        DELETE
        FROM BT_USER
        WHERE USERID = #{value}
    </delete>
    
	 <insert id="addUser" parameterType="user">
    INSERT 
    INTO BT_USER(USER_NO,USERID,USER_NM,PASSWORD,PHONE,ACTIVITY,JOIN_DATE,ALRAM_ACTIVITY,ALRAM_COUNT)
    VALUES(SEQ_BT_USER_NO.nextval,
          #{userId},
          #{userName},
          #{password},
          #{phone},
          #{activity},
          sysdate,
          '0',
          0)
  </insert> 
  
  
  <insert id="addFollowing" parameterType="map" >
    insert into BT_FOLLOWER(FOLLOWER_NO, FOLLOWER_USER_NO, FOLLOWING_USER_NO) 
    VALUES(SEQ_BT_FOLLOWER_NO.nextval,#{myId},#{follwerId})
  </insert>
  
  <delete id="removeFollower" parameterType="map">
    delete from BT_FOLLOWER WHERE FOLLOWER_USER_NO=#{myId} AND FOLLOWING_USER_NO=#{follwerId} 
  </delete> 
  
  <select id="getOneFollwer" parameterType="map" resultType="string">
    select FOLLOWER_USER_NO from BT_FOLLOWER WHERE FOLLOWER_USER_NO=#{myId} AND FOLLOWING_USER_NO=#{follwerId}
  </select> 
  
  <select id="getFollowing" parameterType="int" resultMap="userSelectMap">
      select  
        USER_NO ,USERID, USER_NM, PASSWORD, PHONE, ACTIVITY, JOIN_DATE, ALRAM_ACTIVITY, ALRAM_COUNT, PROFILE_IMG
        FROM     bt_user
        where USER_NO IN (SELECT FOLLOWING_USER_NO
         FROM BT_FOLLOWER
         WHERE FOLLOWER_USER_NO = #{value})

  </select>
  
  <select id="getFollower" parameterType="int" resultMap="userSelectMap">
    select  
        USER_NO ,USERID, USER_NM, PASSWORD, PHONE, ACTIVITY, JOIN_DATE, ALRAM_ACTIVITY, ALRAM_COUNT, PROFILE_IMG
        FROM     bt_user
        where USER_NO  IN (SELECT FOLLOWER_USER_NO
         FROM BT_FOLLOWER
         WHERE FOLLOWING_USER_NO = #{value})
  </select>
  
  
  
  <update id="updateUser" parameterType="user">
        UPDATE bt_user 
        <set>
                                                   USER_NM = #{userName},
                                                     PHONE = #{phone},
                                                PASSWORD = #{password},
                                                JOIN_DATE= sysdate
                                                              
        </set>
        WHERE USERID = #{userId}       
    </update>
	
  <select id="getFollwerCount" parameterType="int" resultType="int">	
    select count(*) from BT_FOLLOWER where FOLLOWING_USER_NO =#{value}
  </select>
  
  <select id="getFollwingCount" parameterType="int" resultType="int">  
    select count(*) from BT_FOLLOWER where FOLLOWER_USER_NO =#{value}
  </select>
  
  <update id="updateStatus" parameterType="map">
    update bt_user 
    <set>
        STATUS=#{status}
    </set>
    WHERE USER_NO=#{userNo}
  </update>

</mapper>
